body {
    background: white;
    margin: 0;
}
div.post.border {
    background: white;
    width: 600px;
    margin: auto;
    margin-top: 10px;
}
div.post img{
    width: 100%;
}
div.container {
    margin-bottom: 15px;
}
div.dfex.post-header {
    width: 100%;
    display: flex;
}
div.title-photo {
    width: 50%;
    display: flex;
    flex: 1;
}
div.span-all {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}

